<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>firstName</th>
                    <th>Lastname</th>
                </tr>
            </thead>
            <tbody>
                <tr [id]="author.id" *ngFor="let author of authors">
                    <td>{{ author.id }}</td>
                    <td>{{ author.firstName }}</td>
                    <td>{{ author.lastName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

