
  <div class="row">
    <div class="col-md-8">
      <app-search-book (search)="handleSearch($event)"></app-search-book>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Publication Date</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr [id]="book.id" *ngFor="let book of filteredBooks()">
          <td>{{ book.id }}</td>
          <td>{{ book.titre }}</td>
          <td>{{ book.auteur }}</td>
          <td>{{ book.date_publication }}</td>
          <td>{{ book.prix }}</td>
          <td><button class="btn btn-primary" (click)="selectBook(book,$event)">Détails</button></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-md-4">
      <app-book-details *ngIf="selectedBook" [book]="selectedBook" (hideDetails)="unselectBook()"></app-book-details>
    </div>
  </div>

